.navbar {
	background: #88ab33;
	border-color: #88ab33;
}

.navbar-brand {
	color: white!important;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus 
{
	 color: white;
	 background-color: #6a8230!important;
}

.nav>li>a:hover {
	background-color: #6a8230!important;
}
	

.bordered {
	color: #555;
	border-radius: 10px;
	text-align: center;
	padding: 10px 10px 10px 36px;
	margin-top: 10px; margin-right: 10px; margin-bottom: 10px;
	border: 1px solid #88ab33; 
}

pre {
	width: 23vw;
}

